<form>
  <input type="text" name="name" [(ngModel)]="websocketService.name" placeholder="Name">
  <button type="button" (click)="websocketService.connect()" [disabled]="websocketService.connected">Connect</button>
  <button type="button" (click)="websocketService.disconnect()" [disabled]="!websocketService.connected">Disconnect</button>
  <button type="button" (click)="websocketService.sendName()">Send Name</button>
  <button type="button" (click)="websocketService.sendToAll()">Send To All</button>
  <div class="greetings" *ngIf="websocketService.connected">
    <div *ngFor="let greeting of websocketService.greetings">{{greeting}}</div>
  </div>
</form>
